.ui-w { display: none; position: absolute; 
		color: white;
		background-color: black; opacity: 0.7;
		font-size: 12px; 
		-webkit-transform: translateZ(0);
		}
.ui-w.ui-has-chrome {
		padding: 10px; padding-right: 5px; 
		border-radius: 10px;
}
.ui-w.ui-has-border {
		border: 2px solid silver;
}
.ui-w.ui-draggable { cursor: move; }
.ui-w>div { padding: 0; overflow: auto; height: 100%; width: 100%; cursor: auto; }
.ui-w>div h1 { font-size: 130%; }
.ui-w>div h2 { font-size: 120%; }
.ui-w>div h3 { font-size: 110%; }
.ui-w>div h4 { font-size: 100%; }
.ui-w>div a { color: white; }
.ui-w>div a:visited { color: silver; }
.ui-w>div a:hover { color: yellow; }
