#guide { display: none; position: absolute; width: 300px; height: 400px; 
		top: 10%; left: 60%;
		color: white;
		background-color: black; opacity: 0.7;
		border: 2px solid silver;
		border-radius: 10px;
		padding: 10px; 
		font-size: 12px; 
		}
#guide>div { padding: 0; overflow: auto; height: 400px; }
#guide h1 { font-size: 110%; }
#guide h2 { font-size: 108%; }
#guide h3 { font-size: 106%; }
#guide h4 { font-size: 104%; }
#guide a { color: white; }
#guide a:visited { color: silver; }
#guide a:hover { color: yellow; }
