#chatbox { position: absolute; bottom: 5px; left: 5px; width: 350px; height: 220px;
			background-color: transparent;
			color: white;
			font-family: Arial; 
			display: none;
		 }
#chatbox #tabs { height: 16px; font-size: 13px; cursor: move; }
#chatbox .has-background { background-color: black; opacity: 0.7; }
#chatbox #messages { height: 184px; overflow: auto; font-size: 80%; font-weight: normal;
			border: 1px solid #444; box-sizing: border-box; } 
#chatbox #messages>div { display: none; position: relative; margin-left: 0.2em; }
#chatbox #messages>div.selected { display: block; }
#chatbox #messages span.system { font-style: italic; }
#chatbox #messages span.nick { color: #888; }
#chatbox #input { height: 20px; border: 1px solid #444; border-top: 0px; color: #444; box-sizing: border-box; }
#chatbox #input input { margin: 0; height: 18px; width: 100%; box-sizing: border-box; 
				border: 0; background: transparent; color: white; padding-left: 1em; 
				position: absolute; left: 0; outline: none; }
#chatbox .tab-buttons span { display: inline-block; height: 100%; box-sizing: border-box; 
					padding: 0 1em; color: #444; cursor: pointer; 
					border: 1px solid #444; border-bottom: 1px solid black; }
#chatbox .tab-buttons .selected { color: yellow; }
#chatbox .spam { color: #400; }
#chatbox .muted { color: #111; }
